%h2 Error

%p
  You do not have an SSH key set up in your DigitalOcean account.
  You can do that <a href="https://cloud.digitalocean.com/ssh_keys">here</a>.

%p
  Once you've added an SSH key, you can come back and try again.

%p
  Here are some guides to help:

%ul
  %li
    %a{ href: 'https://www.digitalocean.com/community/tutorials/how-to-use-ssh-keys-with-putty-on-digitalocean-droplets-windows-users' }
      for Windows users
  %li
    %a{ href: 'https://www.digitalocean.com/community/tutorials/how-to-use-ssh-keys-with-digitalocean-droplets' }
      for Mac and Linux users
