%h2 Terms of Use

%h3 1. Terms
%p
  By accessing this web site, you are agreeing to be bound by these
  web site Terms and Conditions of Use, all applicable laws and regulations,
  and agree that you are responsible for compliance with any applicable local
  laws. If you do not agree with any of these terms, you are prohibited from
  using or accessing this site. The materials contained in this web site are
  protected by applicable copyright and trade mark law.

%h3 2. Use License

%p
  Permission is granted to use the service on this website for personal,
  non-commercial use only.

%h3 3. Disclaimer
%p
  The materials on this web site are provided "as is". We make no warranties,
  expressed or implied, and hereby disclaims and negates all other warranties, including without
  limitation, implied warranties or conditions of merchantability, fitness for a particular
  purpose, or non-infringement of intellectual property or other violation of rights. Further,
  we do not warrant or make any representations concerning the accuracy, likely
  results, or reliability of the use of the materials/service on its Internet web site or otherwise
  relating to such materials/service or on any sites linked to this site.

%h3 4. Limitations
%p
  In no event shall this website operator or its suppliers be liable for any damages (including, without
  limitation, damages for loss of data or profit, or due to business interruption,) arising out of
  the use or inability to use the materials on this Internet site, even if you have been notified
  orally or in writing of the possibility of such damage. Because some jurisdictions do not allow
  limitations on implied warranties, or limitations of liability for consequential or incidental
  damages, these limitations may not apply to you.

%h3 5. Revisions and Errata
%p
  We do not warrant that any of the information on its web site is accurate, complete,
  or current. We may make changes to the information contained on its web site at any
  time without notice.

%h2 Privacy Policy
%p
  Your privacy is very important to us. Accordingly, we have developed this Policy in order
  for you to understand how we collect, use, communicate and disclose and make use of personal
  information. The following outlines our privacy policy.

%ul
  %li
    We will collect and use of personal information solely with the objective of fulfilling
    those purposes specified by us and for other compatible purposes, unless we obtain the
    consent of the individual concerned or as required by law.
  %li
    We will only retain personal information as long as necessary for the fulfillment of those purposes.
  %li
    We will collect personal information by lawful and fair means and, where appropriate,
    with the knowledge or consent of the individual concerned.
  %li
    We will protect personal information by reasonable security safeguards against loss or theft,
    as well as unauthorized access, disclosure, copying, use or modification.

%p
  We are committed to conducting our business in accordance with these principles in order
  to ensure that the confidentiality of personal information is protected and maintained.
